html{
  font-family: 'Poppins ', sans-serif;
  display: flex;
  justify-content:center;
  background-color: rgb(18, 17, 18);


}
h1{
  text-align:center;
  color: rgb(206, 206, 206);
  width: 650px;
  font-weight:100;

}
.gridview{
  position: absolute; 
  top: 140px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 450px;
  display: grid ;
  grid-template-columns: auto auto auto auto auto auto auto auto;

}
button{
  color: black;
  background-color: white;
  font-size: 25px;
  border: rgb(0, 0, 0) solid 0.3px;
  cursor: pointer;
  margin: 0;padding: 0;
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}
button:hover{
  filter: brightness(120%);
}
._0{
  background-color: white;
}
._1{
  background-color: rgb(233 253 174);
}
._2{
  background-color: rgb(211 251 94)  ;
}
._3{
  background-color:rgb(255 253 99);
}
._4{
  background-color: rgb(247 203 83);
}
._5{
  background-color: rgb(239 154 67);

}
._6{
  background-color:rgb(232 73 49);
}

ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:484px;
  left: 70%;
}

li {
  padding: 10px;
}

li a {
  color: rgb(255, 255, 255);
  padding: 10px;
}

li a :hover{
  color: aqua;
}

